body {
    height: 100vh;
    width: 100vw;
    background-color:beige;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    background-color:beige;
}

.flash-card {
    height: 50vh;
    width: 50vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-index {
    height:10vh;
    width:10vw;
    background-color: bisque;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.questions {
    height:20vh;
    width:20vw;
    background-color: aliceblue;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

/* .questions:hover .questions-card {
    transform: rotateY(180deg);
} */

.questions-front, .questions-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.questions-front {
    background-color: #bbb;
    color: black;
}

.questions-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.btns {
 text-align: start ;
}

.togglebtns {
    margin: 40px;
}